<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: red;
  font-size: 20px;
}
</style>
</head>
<body>

<h1>Xin chào tất cả mọi người </h1>
<p>PTPMQL-Nhóm 02.</p>

</body>
</html>
