<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: lightgrey;
  color: blue;
}

h1 {
  background-color: black;
  color: white;
}

div {
  background-color: blue;
  color: white;
}
</style>
</head>
<body>

<h1>Bài thực hành 13/01</h1>
<p>Nguyễn Đăng Hải</p>
<div>2121051554</div>

</body>
</html>
