<!DOCTYPE html>
<html>
<head>
<style>
h1 {
  font-size: 60px;
}

p {
  font-size: 25px;
  line-height: 50px;
}
</style>
</head>
<body>

<h1>Nguyễn Đăng Hải </h1>
<h2>2121051554</h2>
<p>Bài thực hành 13/01</p>
<p>PTPMQL-Nhóm 02.</p>

</body>
</html>


